.parent {
    display: flex;
    flex-direction: column;
}

.name {
    border: 5px solid red;
    color: blue;
    font-size: xx-large;
    margin-left: 100px;
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: black;
}

.right-corner {
    border: 5px solid blue;
    display: flex;
    flex-direction: row;
}

.header {
    border: 5px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
}

.about-me {
    border: 3px solid green;
    margin: 5px;
    color: blue;
    font-size: x-large;
    margin-right: 50px;
    cursor: pointer;
    background-color: black;
}

.portfolio {
    border: 3px solid green;
    margin: 5px;
    color: blue;
    font-size: x-large;
    margin-right: 50px;
    cursor: pointer;
    background-color: black;
}

.contact-me {
    border: 3px solid green;
    margin: 5px;
    color: blue;
    margin-right: 75px;
    font-size: x-large;
    cursor: pointer;
    background-color: black;
}