.parent {
    display: flex;
    flex-direction: column;
}

.name {
    border: 5px solid red;
}

.right-corner {
    border: 5px solid blue;
    display: flex;
    flex-direction: row;
}

.header {
    border: 5px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.about-me {
    border: 3px solid green;
    margin: 5px;

}

.portfolio {
    border: 3px solid green;
    margin: 5px;
}

.contact-me {
    border: 3px solid green;
    margin: 5px;
}